body{
  margin:0;
  padding: 0;
  background-color: #b09e99;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #2D2D2D;
	transition: all .3s ease;
  &:hover {
    text-shadow: 1px 1px 0 lighten($bg, 15%), 2px 2px 0 lighten($bg, 10%), 3px 3px 0 lighten($bg, 5%);
    transform: translate(-3px,-3px);
  }
}
#header{
  width: 100%;
  height: 150px;
  background-color: #b09e99;
}
#header ul{
  margin:50 20 0 0;
  list-style-type: none;
  background-color: #fad4c0;
  position: fixed;
  width: 100%;
}
#header li {
  display:inline-block;
  margin: 20px;
  color: #002c44;
  font-size: 20px;
  text-decoration: none;
}
#header li a{
  float: right;
  margin-top: 2%;
  padding: 8px 10px;
  color: #002c44;
  font-size: 20px;
  text-decoration: none;
}
#header ul a:hover {
  background: #ddd;
  color: #002c44;
}
#content{
  width: 50%;
    position: absolute;
    top: 55%;
    right: 25%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.container {
    position: relative;
    font-size: 24px;
}

.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}
.hover {
    &:before {
        content:'';
        position: absolute;
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
        background-color: #000;
        transform: scaleX(0);
        transform-origin: top left;

        transition: transform 0.3s;
    }
    
    &:after {
        content:'';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        right: 0;
        background-color: #000;
        transform: scaleX(0);
        transform-origin: bottom right;

        transition: transform 0.3s;
    }

    &:hover {
        &:before {
            transform-origin: top right;
            transform: scaleX(1);
        }
        
        &:after {
            transform-origin: bottom left;
            transform: scaleX(1);
        }
    }
}

.link-wrapper {
    position: relative;
    display: block;
    padding: 20px 0;
}
